h1{
    background-color: yellow;
    color: rgb(43, 37, 29);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
h3{
    background-color: beige;
    color: black;
    text-align: center;
}
button{
    background-color: thistle;
    color: brown;
    padding: 12px 24px;
    text-align: center;
    font-size: 20px;
}